<footer id="footer" class="footer dark-background">

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-about m-auto text-center">
					<a href="{{ path('app_home') }}" class="text-center">
						<img src="/assets/img/logo.png" alt="Université Technologique du Lualaba" class="w-25">
					</a>
					<div class="footer-contact pt-3">
						<p class="mt-3">
							<strong>Phone:</strong>
							<span><a href="tel:+243818088871 ">+243 818 088 871</a></span>
						</p>
						<p>
							<strong>Email:</strong>
							<span><a href="mailto:contact@utlualaba.com">contact@utlualaba.com</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright text-center">
		<div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

			<div class="d-flex flex-column align-items-center align-items-lg-start">
				<div>
					© Copyright
					<strong>
						<span>Université Technologique du Lualaba</span>
					</strong>
					{{ 'now' | date('Y') }}
				</div>
			</div>

			<div class="social-links order-first order-lg-last mb-3 mb-lg-0">
				<a href="https://x.com/UTLualaba">
					<i class="bi bi-twitter-x"></i>
				</a>
				<a href="https://web.facebook.com/people/Universit%C3%A9-Technologique-du-Lualaba-UTL/61557904538922/">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="https://www.instagram.com/utlualaba/">
					<i class="bi bi-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/company/utlualaba/?viewAsMember=true" class="linkedin"><i class="bi bi-linkedin"></i></a>
			</div>

		</div>
	</div>

</footer>
