<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d244.99111163313444!2d25.425481811022593!3d-10.745441967729137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1979ef267d84f907%3A0x7a308db6e83f05e7!2sCommus%20SAS%20Zijin%20Global%20Group!5e0!3m2!1sfr!2scd!4v1682269550175!5m2!1sfr!2scd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>